version: '3.2'
services:
  stock-servant:
    build: .
    networks:
      - stock-network
    image: peterbecich/stock-servant-stock-servant-local:latest
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    deploy:  # https://forums.docker.com/t/when-to-use-docker-compose-and-when-to-use-docker-swarm/29107/5
      replicas: 4
  stock-postgres:
    build:
      context: .
      dockerfile: dockerfiles/postgres.dockerfile
    image: peterbecich/stock-postgres:latest
    networks:
      - stock-network
    restart: always
    environment:
      - POSTGRES_PASSWORD:'${POSTGRES_PASSWORD}'
    expose:
      - "5432"
    volumes:
      - "stock-postgres-volume:/var/lib/postgresql/data"
  stock-redis:
    image: redis:4-alpine
    networks:
      - stock-network
    expose:
      - "6379"
  # https://github.com/djmaze/shepherd
  #--constraint "node.role==manager" \
  #--mount type=bind,source=/var/run/docker.sock,target=/var/run/docker.sock,ro \
  # https://docs.docker.com/compose/compose-file/#volumes
  # stock-shepherd:
  #   image: mazzolino/shepherd
  #   deploy:
  #     replicas: 1
  #     placement:
  #       constraints:
  #         - node.role == manager

  #   volumes:
  #     - type: bind
  #       source: /var/run/docker.sock
  #       target: /var/run/docker.sock
  #       nocopy: true
      

networks:
  stock-network:

volumes:
  stock-postgres-volume:
